POSTGRES_USER=fallera
POSTGRES_PASSWORD=nestpass
POSTGRES_DB=falleranest
POSTGRES_HOST=db
POSTGRES_PORT=5433
DATABASE_URL=postgresql://fallera:nestpass@db:5432/falleranest
PORT=5050
VITE_API_URL=http://localhost:5050
